<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Robot Remote Control</title>

	<style>
		body{font-family: Sans-Serif; color:#93c893;}
	</style>
</head>

<body>
<h1>Pro tip. Put your Robot on the ground NOW!</h1>
<p>Use your keyboard arrows!</p>
<script type="text/javascript" src="/mousetrap.js"></script>
<script type="text/javascript">

var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);

Mousetrap.bind('up', function() { ws.send('F'); }, 'keydown');
Mousetrap.bind('down', function() { ws.send('B'); }, 'keydown');
Mousetrap.bind('left', function() { ws.send('L'); }, 'keydown');
Mousetrap.bind('right', function() { ws.send('R'); }, 'keydown');
Mousetrap.bind('space', function() { ws.send('S'); }, 'keydown');

Mousetrap.bind('up', function() { ws.send('S'); ws.send('S'); }, 'keyup');
Mousetrap.bind('down', function() { ws.send('S'); ws.send('S'); }, 'keyup');
Mousetrap.bind('left', function() { ws.send('S'); ws.send('S'); }, 'keyup');
Mousetrap.bind('right', function() { ws.send('S'); ws.send('S'); }, 'keyup');
Mousetrap.bind('space', function() { ws.send('S'); ws.send('S'); }, 'keyup');

Mousetrap.bind('a', function() { ws.send('A'); }, 'keydown');
Mousetrap.bind('d', function() { ws.send('D'); }, 'keydown');


</script>
</body>

</html>